<h1>Rewards</h1>
  <div class="row">
    <% @rewards.each do |reward| %>
      <div class="rewards col-md-3">
        <p><%= reward.name %></p>
        <p>Point Value: <%= reward.point_value %></p>


        <%= form_for(:admin, url: admin_path, method: :put) do |f| %>
        <% f.hidden_field :user_id, :value => @user.id %>
        <p>
          <%= f.label 'Update Available Points:' %>
          <%= f.text_field :available_points %>
        </p>
        <p>
          Current Redeemed Points:
          <%= @user.redeemed_points %>
        </p>

        <p>
          <%= f.label 'Redeemed Points:' %>
          <%= f.text_field :redeemed_points %>
        </p>
        <%= f.submit "Choose Reward" %>
        <% end %>

      </div>
    <% end  %>
  </div>
</table>
